<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>


    <div class="form">
        <h3 class="form-lab">Email</h3>

        <input type="email" class="form-label" placeholder="email@example.com">
        

        <h3 class="form-lab">Password</h3>

        <input type="password" class="form-label" placeholder="Password">

        <button class="button">Confirm</button>

    </div>


    <div class="Modal">
        <h3 class="form-lab">Email</h3>

        <input type="email" class="form-label" placeholder="email@example.com">
        

        <h3 class="form-lab">Example Textera</h3>

        <textarea class="text" cols="40" rows="6"></textarea>

        <button class="button">Confirm</button>





    </div>



 




    
</body>
</html>